<div class="table-container">
  <table mat-table [dataSource]="installations$ | async">

    <ng-container matColumnDef="clientName">
      <th class="col-name-trim" mat-header-cell *matHeaderCellDef> Name </th>
      <td class="col-name-trim" [class.currentRow]="(currentInstallations$ | async) == element" mat-cell *matCellDef="let element">
        {{element.clientName}}
        <!-- <div class="mat-small"> {{element.installDir}} </div> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="installDir">
      <th mat-header-cell *matHeaderCellDef> Loacation </th>
      <td mat-cell [class.currentRow]="(currentInstallations$ | async) == element" *matCellDef="let element">
        <div class="mat-small">{{element.installDir}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th class="col-version" mat-header-cell *matHeaderCellDef> Version </th>
      <td class="col-version" mat-cell [class.currentRow]="(currentInstallations$ | async) == element" *matCellDef="let element">
        {{element.version}}   
        <button mat-icon-button *ngIf="element.version === 'error'" (click)="errorClick(element)">
          <mat-icon class="warn-icon" color="warn">
            warning
          </mat-icon>
        </button>    
        <mat-progress-spinner class="spinner" [diameter]="15" *ngIf="element.version === 'installing'" color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setCurrentInstallation(row)"></tr>
  </table>
</div>