<form [formGroup]="frmProxyAndCredentials">

  <h1 mat-dialog-title>Proxy and Credentials</h1>

  <div mat-dialog-content>
    <div class='form-control'>
      <mat-checkbox formControlName="useDefaultProxy" 
      (change)="useDefaultProxyChanged($event)">Use default proxy</mat-checkbox>
    </div>
    <mat-form-field class="field-client-name">
      <mat-label>
        Proxy server address
      </mat-label>
      <input matInput formControlName="proxy">
    </mat-form-field>
    <div class='form-control'>
      <mat-checkbox formControlName="integratedWindowsAuthentication">Use integrated windows authentication
      </mat-checkbox>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="saveSettingsAndClose()">Confirm</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </div>

</form>