<form [formGroup]="frmStepThree" (show)='formShown()'>

  <div class='form-control'>
    <mat-checkbox formControlName="createIcon">Create desktop icon</mat-checkbox>
  </div>

  <div class='form-control'>
    <mat-radio-group formControlName="lnkForAllUsers">
      Associate link for
      <mat-radio-button [value]="true" [disabled]='!isInstallForAll'>all users</mat-radio-button>
      <mat-radio-button [value]="false">current user</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class='form-control'>
    <mat-checkbox formControlName="runAfterInstall">Run after installation</mat-checkbox>
  </div>

</form>