################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClientManagerApp/ClientManagerApp-win32-x64
/ClientManagerService/bin
/ClientManagerService/obj
/ClientManagerService/ClientManagerService.csproj.user
/CredentialsListener/bin/Debug
/CredentialsListener/obj
/HeliosGreenClient/bin/Debug
/HeliosGreenClient/obj
/HgProductionServer/bin
/HgProductionServer/obj
/NorisConfig/bin
/NorisConfig/obj
/packages
/ServiceSetup/bin/Debug
/ServiceSetup/obj
