<mat-toolbar color="primary" class="header mat-elevation-z2">
  <mat-toolbar-row>
    <span>Client Manager</span>
    <button mat-icon-button
      *ngIf="(upgradeState$ | async) === upgradeState.none && (localVersion$|async) !== (latestVersion$ | async)"
      (click)="showUpgradeInfo()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="hideWindow()" *ngIf="electronService.isElectronApp">
      <mat-icon>minimize</mat-icon>
    </button>
    <button mat-icon-button (click)="closeWindow()"
      *ngIf="electronService.isElectronApp && (upgradeState$ | async) === upgradeState.none">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet *ngIf="(upgradeState$ | async) === upgradeState.none"></router-outlet>

  <div class="center" *ngIf="(upgradeState$ | async) === upgradeState.downloading">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
    <span class="mat-body">Downloading upgrade package.</span>
    <span class="mat-body">Please wait...</span>
  </div>

  <div class="center" *ngIf="(upgradeState$ | async) === upgradeState.installing">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
    <span class="mat-body">Installation has started.</span>
    <span class="mat-body">Application will close...</span>
  </div>
</div>