$headerHeight: 60px;

mat-toolbar {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $headerHeight;
}

.spacer {
  flex: 1 1 auto
}

.content {
  position: absolute;
  top: $headerHeight;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 10px;
}

