<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Client Manager</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="hideWindow()" *ngIf="electronService.isElectronApp">
      <mat-icon>minimize</mat-icon>
    </button>
    <button mat-icon-button (click)="closeWindow()" *ngIf="electronService.isElectronApp">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row> 
</mat-toolbar>

<div class="content">
  <button mat-icon-button (click)="runApplication()">
    <mat-icon>airplay</mat-icon>
  </button>
  <router-outlet></router-outlet>
</div>
