<mat-toolbar color="primary" class="mat-elevation-z2">
  <mat-toolbar-row>
    <span>Client Manager {{version$ | async}}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="hideWindow()" *ngIf="electronService.isElectronApp">
      <mat-icon>minimize</mat-icon>
    </button>
    <button mat-icon-button (click)="closeWindow()" *ngIf="electronService.isElectronApp">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row> 
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
