<form [formGroup]="frmStepOne">
  <mat-form-field class="application-server">
    <mat-label>
      <mat-icon>storage</mat-icon> Application server
    </mat-label>
    <input matInput placeholder="Application server" formControlName="applicationServer">
    <mat-error *ngIf="applicationServer.hasError('required')">
      Application server is required
    </mat-error>
    <mat-error *ngIf="applicationServer.hasError('invalidVersionManagerAddress')">
      Invalid version manager address
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field-client-name">
    <mat-label>
      <mat-icon>title</mat-icon> Client name
    </mat-label>
    <input matInput formControlName="clientName">
    <mat-error *ngIf="frmStepOne.get('clientName').hasError('required')">
      Client name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field-language">
    <mat-label>
      <mat-icon>language</mat-icon> Language
    </mat-label>
    <mat-select formControlName="language" [disabled]="!(availableLanguages && availableLanguages.length)">
      <mat-option *ngFor="let item of availableLanguages" [value]="item">{{item}}</mat-option>
    </mat-select>
    <mat-error *ngIf="frmStepOne.get('language').hasError('required')">
      Language is required
    </mat-error>
  </mat-form-field>

  <mat-radio-group formControlName="installForAll" class="field-install-for-all" (change)=installAllClientsChanged($event)>
    Install for
    <mat-radio-button [value]="true">all users</mat-radio-button>
    <mat-radio-button [value]="false">current user</mat-radio-button>
  </mat-radio-group>

  <mat-form-field class="field-install-dir">
    <mat-label>
      <mat-icon>folder</mat-icon> Installation directory
    </mat-label>
    <input matInput formControlName="installDir">
    <a matSuffix (click)="selectDir()" *ngIf="electronService.isElectronApp">
      <mat-icon class="select-dir-icon">more_horiz</mat-icon>
    </a>
    <mat-error *ngIf="frmStepOne.get('installDir').hasError('required')">
      Installation directory is required
    </mat-error>
  </mat-form-field>

</form>