<ng-container *ngIf="currentInstallation$ | async; let currentInstallation;">
  <ng-container *ngIf="canRunActions(currentInstallation, currentProcesses$ | async)">
    <button mat-icon-button (click)="runApplication(currentInstallation)">
      <mat-icon>play_circle_filled</mat-icon>
    </button>
    <button mat-icon-button *ngIf="currentInstallation.needUpgrade" (click)="updateClient(currentInstallation)">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteClient(currentInstallation)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-container>
</ng-container>

<button mat-icon-button [routerLink]="[{outlets: {primary: ['newclient'], footer:['none']}}]">
  <mat-icon>library_add</mat-icon>
</button>