<div class="content">

  <mat-horizontal-stepper linear="true" #stepper>
    <mat-step [stepControl]="step1.frmStepOne">
      <ng-template matStepLabel>Client</ng-template>
      <app-step-one #step1></app-step-one>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step [stepControl]="step2.frmStepTwo">
      <ng-template matStepLabel>Configuration</ng-template>
      <app-step-two #step2></app-step-two>
      <button mat-button matStepperNext>Next</button>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step [stepControl]="step3.frmStepThree">
      <ng-template matStepLabel>Configuration</ng-template>
      <app-step-three #step3></app-step-three>
      <button mat-button (click)="install(step1)" [routerLink]="'../list'">Install</button>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-horizontal-stepper>

</div>

<mat-toolbar color="primary" class="footer mat-elevation-z2">
  <mat-toolbar-row>
    <button mat-icon-button [routerLink]="'../list'">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>