mat-form-field {
    width: 100%;
}

table {
    width: 100%;
}

.table-container {
    height: 150px;
    overflow: auto;
    margin-top: 10px;
}

table tr.mat-row {
    height: 30px;
}

table tr.mat-header-row {
    height: 30px;
}

th {
    width: 30%;
}

td {
    width: 30%;
}

button {
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    line-height: 20px;
}