<ng-container *ngIf="currentProcess$ | async; let currentProcess">

  <h1 mat-dialog-title *ngIf="currentProcess.processType === currentProcesstypes.installation">Client installation</h1>
  <h1 mat-dialog-title *ngIf="currentProcess.processType === currentProcesstypes.upgrade">Client upgrade</h1>

  <div mat-dialog-content>
    <span class="mat-body">{{currentProcess.progress}}</span>
    <span class="mat-body">{{currentProcess.result}}</span>
  </div>

  <div mat-dialog-actions>
    <button mat-button *ngIf="currentProcess.result === currentProcessResults.running">Hide</button>
    <button mat-button *ngIf="currentProcess.result === currentProcessResults.success">Run</button>
    <button mat-button *ngIf="currentProcess.result !== currentProcessResults.running">Close</button>
  </div>

</ng-container>