.field-client-name {
    width: 100%;
}

.field-install-dir {
    width: 100%;
}

.field-language {
    width: 150px;
}

mat-form-field {
    display: block;
}

.label-icon {
    margin-right: 10px;
}

.select-dir-icon {
    position: relative;
    top: 10px;
    cursor: pointer;
}