<form [formGroup]="installationForm" class="new-installation-form">

  <h1 mat-dialog-title>New installation</h1>

  <div mat-dialog-content>

    <mat-form-field class="application-server">
      <mat-icon matPrefix class="label-icon"
        [color]="matcher.isErrorState(applicationServer, null) ? 'warn' : 'primary'">
        storage</mat-icon>
      <input matInput placeholder="Application server" formControlName="applicationServer"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="installationForm.get('applicationServer').hasError('required')">
        Application server is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-client-name">
      <mat-icon matPrefix class="label-icon"
        [color]="matcher.isErrorState(clientName, null)  ? 'warn' : 'primary'">
        title</mat-icon>
      <input matInput placeholder="Client name" formControlName="clientName" [errorStateMatcher]="matcher">
      <mat-error *ngIf="installationForm.get('clientName').hasError('required')">
        Client name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-language">
      <mat-icon class="label-icon" matPrefix
        [color]="matcher.isErrorState(language, null)  ? 'warn' : 'primary'">
        language</mat-icon>
      <mat-select placeholder="Language" formControlName="language" [errorStateMatcher]="matcher">
        <mat-option value="CZ">CZ</mat-option>
        <mat-option value="DE">DE</mat-option>
        <mat-option value="EN">EN</mat-option>
      </mat-select>
      <mat-error *ngIf="installationForm.get('language').hasError('required')">
        Language is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-install-dir">
      <mat-icon matPrefix class="label-icon"
        [color]="matcher.isErrorState(installDir, null)  ? 'warn' : 'primary'">
        folder</mat-icon>
      <input matInput placeholder="Installation directory" formControlName="installDir" [errorStateMatcher]="matcher">
      <a matSuffix (click)="selectDir()" *ngIf="electronService.isElectronApp">
        <mat-icon class="select-dir-icon">more_horiz</mat-icon>
      </a>
      <mat-error *ngIf="installationForm.get('installDir').hasError('required')">
        Installation directory is required
      </mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="ok()" [disabled]="!installationForm.valid">Ok</button>
  </div>

</form>